
#description {
    
}

#posts {
    
}

.post {
    
}

.post-photo {
    
}

.photo {
    
}

.text {
    
}

.caption {
    
}

.panorama {
    
}

.photoset {
    
}

.quote {
    
}

.source {
    
}

.link {
    
}

.description {
    
}

.chat {
    
}

.chat {
    
}

.{Alt} {
    
}

.user_{UserNumber} {
    
}

.label {
    
}

.video {
    
}

.audio {
    
}

#footer {
    
}

.main_title 
{
    font-family: "helvetica", sans-serif;
    font-weight: 700;
    color: #000000;
}
